.club-card {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 10px 10px 10px rgba(27, 0, 0, 0.326);
  transition: transform 0.2s ease;
  position: relative;
  background-color: rgb(222, 247, 247);
}

.club-card:hover {
  transform: scale(1.05);
}

.club-logo {
  border-radius: 50%;
  position: absolute;
  top: -20px;
  border: 4px solid white;
}

.club-name {
  font-weight: bolder;
  font-family:cursive;
  margin-top: 90px;
  text-align: center;
  font-size: larger;
}
