.member-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  Header {
    width: 60% !important;
    margin-bottom: 30px;
  }

  .mentor-card {
    width: 60%;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .action-card {
    width: 60%;
    margin-top: 20px;
  }

    