.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px); /* Optional: adds a blur effect behind the header */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow for separation */
    z-index: 1000; /* Ensure the header stays on top */
    min-height: 60px;
  }
  
  .logo-container {
    margin-left: 30px;
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 40px; /* Adjust size as needed */
  }
  
  .nav {
    display: flex;
    margin-right: 80px; /* Adjust this value to move links to the left */
  }
  
  .nav-link {
    margin-left: 50px;
    text-decoration: none;
    color: #1c73a6; /* Dark text color for contrast */
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #a597f1; /* Change color on hover */
  }
  

  @media (max-width: 768px) {
    /* .header {
      flex-direction: column; 
      align-items: center;
    } */
  
    .nav-link {
      font-size: 14px;
    }
  }