/* Home.css */

.home-container {
    text-align: center;
  }
  
  .home-container a {
    text-decoration: none;
    margin: 0 10px;
  }
  
  .club-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
  }
  
  .club-grid h3 {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  