@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* Home Container */
.home-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
  box-sizing: border-box;
}

.fixed-container {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('/public/homeImg/cover.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

/* Intro Section */
.intro {
  display: flex;
  position: absolute;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh; 
  width: 100vw; 
  z-index: 1; 
}

.intro-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 380px;
  opacity: 0.9;
  padding: 40px;
  z-index: 1;
  margin-left: 250px;
}

.intro-header img {
  width: 140px;
}

.intro-header h1 {
  line-height: 70px;
  font-family: 'Poppins', sans-serif;
  font-size: 3.8rem;
  font-weight: bold;
  margin-bottom: 1px;
  margin-top: 30px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.intro-header p {
  margin-top: 10px;
  font-family: "Dancing Script", cursive;
  font-weight: bolder;
  color: white;
  font-size: 2rem;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.button {
  width: 120px;
  padding: 12px 0;
  border-radius: 20px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 300;
  font-family:serif;
  border: 1px solid rgba(0, 0, 0, 0.2);
  
  /* Increased transparency by lowering the alpha value in rgba */
  background-color: #00ffcc46;
  color: #000;
  box-shadow: 0 4px 8px rgba(47, 39, 39, 0.2);
  height: 40px;
  margin: 0 auto;
  
  /* Gradient for the hover effect */
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3) 50%, #a1fff18a 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.4s ease-in-out, color 0.4s ease-in-out;
}

.button:hover {
  transform:none;
  background-position: 0 0; /* Trigger the left-to-right transition */
  color: white; /* Optional: Change text color on hover */
}

.login-button {
  margin-right: 20px;
  color: black;
}

.signup-button {
  color: black;
}

.dean-container {
  padding: 40px 20px 20px 110px;
  height: 700px;
  background-color: #FBECFC;
  z-index:1;
}

.dean-body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dean-container h4 {
  margin-top: 30px;
  left: 20px;
  color: #a05656;
  font-weight: 750;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.dean-image img {
  width: 400px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.dean-message {
  margin-left: 40px;
  padding: 10px;
  max-width: 800px;
  margin-bottom: 80px;
}

.dean-message h1 {
  max-width: 400px;
  font-size: 45px;
  font-weight: 700;
  color: #333;
  margin-bottom: 40px;
}

.dean-message p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  padding: 15px;
  border-radius: 8px;
}

.dean-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 0;
}

.dean-details h4 {
  font-size: 22px;
  font-weight: 700;
  color: #333;
}

.dean-details p {
  color: #a05656;
  font-weight: 750;
  font-size: 14.5px;
  text-transform: uppercase;
  margin-bottom: 10px;
}


/* Carousel Section */

.carousel {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #0B1F38;
  text-align: center;
  z-index: 1;
  justify-content: center;
}

.club-carousel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  justify-items: center;
  padding: 20px; /* Padding around the grid */
  margin: 0 auto; /* Centers the grid itself */
  max-width: 100%;
  padding-bottom: 80px;
}

.carousel h1 {
  margin: 30px auto;
  font-size: 2.5rem;
  font-family: Poppins, sans-serif;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.182);
}

.carousel h1 span {
  color: #019CB8;
}


/* Selector Section */
.selector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.selector-button {
  width: 120px;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #1d4ed8;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.selector-button.active {
  background-color: #16a34a; 
}

.selector-button:hover {
  transform: scale(1.05);
}

.selector-button:not(.active):hover {
  background-color: #1e40af; 
}

/* Events Section */
.events-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  background-color: #FBECFC;
  z-index: 2;
}

.events-section h1 {
  font-size: 2.5rem;
  color: #019CB8;
  margin-bottom: 50px;
  padding: 10px 20px;
  border-radius: 2px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.182);
}

.event-cards {
  display: grid;
  gap: 20px;
  max-width: 1050px;
  width: 100%;
  justify-content: center !important;
  margin: 0 auto;
}

.show-more-button {
  width: 200px !important;
  height: 50px !important;
  margin-top: 30px;
  padding: 12px 24px;
  background-color: #1d4ed8; /* Deep blue */
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 1rem;
}

.show-more-button:hover {
  background-color: #1e40af; /* Slightly darker blue */
  transform: scale(1.05);
}


/* Modal Styles */
.club-modal,
.event-modal {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.club-modal.show,
.event-modal.show {
  opacity: 1;
}

/* Initial state for all sections */
.intro,
.carousel,
.events-section,
.dean-container,
.video-container {
  opacity: 0;
  transform: translateY(40px); /* Increased translation for more visible movement */
  transition: opacity 0.9s ease-out, transform 1s cubic-bezier(0.5, 1, 0.3, 1); /* Extended duration and changed easing for a stronger effect */
}

/* Visible state when elements are in view */
.intro.visible,
.carousel.visible,
.events-section.visible,
.dean-container.visible,
.video-container.visible {
  opacity: 1;
  transform: translateY(0); /* Element returns to its original position */
}

/* Add slight delay to opacity to create a staggered effect */
.intro,
.carousel,
.events-section,
.dean-container,
.video-container {
  transition-delay: 0.3s; /* Adds delay to opacity */
}

/* Scroll to top button */
.scroll-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.scroll-to-top:hover {
  opacity: 1;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Adjust height as needed to fit the spinner in its section */
}

.cursive-text {
  font-family: 'Dancing Script', cursive; /* Apply the Google Font */
  font-size: 2rem;
  margin-bottom: 30px;
  line-height: 1.6;
  overflow: auto;
  color: #374151; /* Dark gray text for better readability */
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}


/* Medium Devices (Tablets) */
/* Medium Devices (Tablets) */
/* Medium Devices (Tablets) */


@media (min-width:480px) {
  .carousel {
    padding-bottom: 30px;
  }
}

@media (min-width: 1025px) and (max-width: 1500px) {
  .club-carousel {
    grid-template-columns: repeat(3, 1fr); /* Adjust to two columns */
    gap: 10px; /* Space between items */
    padding: 10px; /* Less padding around grid */
  }
}


@media (max-width: 1024px) {

  .dean-container {
    padding: 40px 10px; /* Adjust padding */
    height: auto; /* Allow height to adjust based on content */
    text-align: center; /* Center align text */
  }

  .dean-body {
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center align content */
  }

  .dean-image {
    margin-bottom: 20px; /* Space below image */
  }

  .dean-message h1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 26px; /* Smaller heading size */
    margin-bottom: 20px; /* Space below heading */
  }

  .dean-message p {
    font-size: 14px; /* Adjust paragraph size */
    line-height: 1.5; /* Improve line height for readability */
  }

  .carousel h1 {
    font-size: 2rem; /* Reduce heading size */
    margin: 20px auto; /* Space for smaller screens */
    padding: 5px; /* Less padding */
  }

  .club-carousel {
    grid-template-columns: repeat(2, 1fr); /* Adjust to two columns */
    gap: 10px; /* Space between items */
    padding: 10px; /* Less padding around grid */
  }

  .show-more-button {
    height: 40px !important;
    width: 150px !important;  /* Reduce button width */
    font-size: 1rem; /* Smaller font size */
  }
}

/* Small Devices (Mobile Phones) */
@media (max-width: 768px) {

  .dean-container {
    padding: 20px; /* Adjust padding */
    height: auto; /* Adjust height based on content */
  }

  .dean-body {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align items */
  }

  .dean-message h1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 24px; /* Smaller heading size */
    margin-bottom: 15px; /* Space below heading */
  }

  .dean-message p {
    font-size: 12px; /* Adjust paragraph size */
    text-align: center; /* Center text */
    line-height: 1.5; /* Improve line height */
  }

  .dean-image img {
    width: 100%; /* Full width image */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 15px; /* Space below image */
  }

  .carousel h1 {
    font-size: 1.5rem; /* Further reduce heading size */
    margin: 15px auto; /* Adjust margin */
    padding: 5px; /* Less padding */
  }

  .club-carousel {
    grid-template-columns: 1fr; /* Stack items in a single column */
    padding: 0; /* Remove extra padding */
  }
}

/* Extra Small Devices (Very Small Phones) */
@media (max-width: 480px) {

  .dean-container {
    padding: 20px; /* Adjust padding */
    text-align: center; /* Center align text */
  }

  .dean-body {
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center align content */
  }

  .dean-message h1 {
    font-size: 20px; /* Smaller heading size */
    margin-bottom: 10px; /* Space below heading */
  }

  .dean-message p {
    font-size: 12px; /* Adjust paragraph size */
    text-align: center; /* Center text */
    line-height: 1.5; /* Improve line height */
  }

  .dean-image img {
    width: 100%; /* Full width image */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Space below image */
  }

  .carousel h1 {
    font-size: 1.25rem; /* Adjust heading size for small screens */
    margin: 10px auto; /* Adjust margin */
    padding: 5px; /* Less padding */
  }

  .club-carousel {
    grid-template-columns: 1fr; /* Stack items in a single column */
    padding: 0; /* Remove padding */
  }
}


@media (max-width: 768px) {
    .event-cards {
      display: grid; /* Ensure grid is displayed */
      grid-template-columns: repeat(1, minmax(250px, 1fr)) !important; /* One column */
      grid-template-rows: minmax(220px, auto) !important;
      gap: 20px !important; /* Space between cards */
      justify-items: center; /* Center items horizontally */
      margin: 0 auto; /* Center the grid within its container */
    }

  .show-more-button {
    margin-top: 50px;
  }

  .events-section h1 {
    font-size: 1.5rem !important;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .event-cards {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 20px;
  }

  .events-section h1 {
    font-size: 2rem !important;
  }
}

@media (min-width: 1025px) {
  .event-cards {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 30px;
  }
}

/* intro */
@media (max-width: 1200px) {
  .intro-header {
    margin-left: 150px;
    padding: 30px;
    max-width: 320px;
  }

  .intro-header h1 {
    font-size: 3rem;
    line-height: 60px;
  }

  .intro-header p {
    font-size: 1.8rem;
  }
}

@media (max-width: 992px) {
  .intro-header {
    margin-left: 100px;
    padding: 25px;
    max-width: 280px;
  }

  .intro-header h1 {
    font-size: 2.8rem;
    line-height: 55px;
  }

  .intro-header p {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  .login-button, .signup-button {
    margin-right: 5px;
  }
}